// Use this to write your custom SCSS
.zoomInButton,
.resetZoomButton,
.zoomOutButton {
    width: 26px;
    height: 26px;
    border: 1px solid black;
    font-weight: 500;
    background-color: white;
}

.resetZoomButton {
    margin-left: 1px;
    margin-right: 1px;
}

.zoomInButton {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.zoomOutButton {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.zoomInButton:hover,
.resetZoomButton:hover,
.zoomOutButton:hover {
    color: white;
    background-color: var(--bs-navbar-hover-color);
}

#blackWhiteContrast {
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    background-color: unset !important;
    border: none;
    display: flex;
}

#yellowBlackContrast {
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    background-color: unset !important;
}

#yellowBlackImage {
    height: 26px;
}

#blackWhiteImage {
    height: 26px;
}